/* costume bg-color */
.bg-c-purple {
  background-color: #893168;
}
.bg-c-white {
  background-color: #eaeaea;
}
.bg-c-black {
  background-color: #050404;
}

/* costume text-color */
.text-c-black {
  color: #050404;
  font-size: 50px;
}
